<div class="hero min-h-screen bg-base-200 mx-2 border-blue-800 rounded">
    <div class="hero-content flex-col lg:flex-row">
        <img src="https://bitnine.net/wp-content/uploads/2022/04/img_diagram_eng-e1651143428347.png"
            class="max-w-lg aspect-auto" />
        <div>
            <h1 class="text-5xl font-bold"> <span class="text-blue-700">Agens</span><span class="text-amber-500">SQL</span> </h1>
            <p class="py-6">AgensSQL is an all-new relational DBMS based on PostgreSQL, with years of expertise
                and knowledge accumulated through database research and development.
                The enterprise package, along with AgensSQL engine, is an all-in-one solution that ensures
                the efficiency and scalability of data management.</p>
            <button class="btn btn-blue btn-outline">Try Free!</button>
        </div>
    </div>
</div>