
<section class="py-24 flex items-center min-h-screen justify-center bg-inherit">
    <div class="mx-auto max-w-[43rem]">
        <div class="text-center">
            <p class="text-4xl font-medium leading-8 text-indigo-600/95">Congratulations!🎉You done it✨</p>
            <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-white">Making it to this page
                from&nbsp; a successful login🎉</h1>
            <p class="mt-3 text-lg leading-relaxed text-white-400">This is proof that the authentication is working 🎊.</p>
        </div>

        <div class="mt-6 flex items-center justify-center gap-4">
            <a href="/"
                class="transform rounded-md bg-indigo-600/95 px-5 py-3 font-medium text-white transition-colors hover:bg-indigo-700">Take me to the homepage</a>
            <a href="/api/users/logout"
                class="transform rounded-md border border-slate-200 px-5 py-3 font-medium text-white-900 transition-colors hover:bg-slate-50">
                Try Logging out </a>
        </div>
    </div>
</section>