<div class="hero min-h-screen bg-base-200 mx-2 rounded ">
    <div class="hero-content flex-col lg:flex-row-reverse bg-inherit ">
        <img src="https://bitnine.net/wp-content/uploads/2022/04/img_key-features_eng.png"
            class="max-w-2xl rounded-lg shadow-2xl" />
        <div mr-4 p-3>
            <h1 class="text-5xl font-bold">Key Features!</h1>
            <p class="py-6">Manage your data with Agens Enterprise Package
                Essential enterprise features such as high availability and sharding are provided</p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>