<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
     <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <!-- component -->
    <%- include('partials/Navbar2.ejs') %>
    <div class="h-screen flex mx-2">
        <div class="flex w-1/2 bg-gradient-to-tr from-blue-800 to-blue-600 i justify-around items-center rounded">
            <div>
                <h1 class="text-white font-bold text-5xl font-sans">Bitnine!</h1>
                <p class="text-white mt-1">The most popular peer to peer lending at SEA</p>
            </div>
        </div>
        <div class="flex w-1/2 justify-center items-center bg-inherit">
            <form class="bg-inherit" action="api/users/register" method="post">
                <h1 class="text-white-800 font-bold text-5xl mb-1">Hello </h1>
                <p class="text-3xl font-normal text-white-600 mb-7">Welcome!</p>
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 ">
                    <!--
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>-->
                    <input class="bg-inherit pl-2 outline-none border-none" type="text" name="user_name" id=""
                        placeholder="Username" b />
                </div>
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input class="bg-inherit pl-2 outline-none border-none" type="text" name="user_email" id=""
                        placeholder="Email Address" b/>
                </div>
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                            clip-rule="evenodd" />
                    </svg>
                    <input class="bg-inherit pl-2 outline-none border-none" type="text" name="user_password" id="" placeholder="Password" />
                </div>
                <button type="submit"
                    class="block w-full bg-blue-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">SignUp</button>
                 <p class="text-lg ml-2 text-white-300">Have an account? <a href="/login"> <span
                             class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Log In!</span></a></p>
            </form>
        </div>
    </div>
     <%- include('partials/footer.ejs') %>
</body>
</html>